.job-list-container {
  position: relative; /* Para posicionar elementos filhos relativamente */
  padding: 20px;
}

.job-list {
  list-style-type: none;
  padding: 0;
}

.job-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.job-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.job-description {
  color: #666;
  margin-bottom: 10px;
}

.job-requirements {
  color: #888;
}

.job-apply-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.job-apply-button:hover {
  background-color: #0056b3;
}

/* Botão flutuante para voltar à página inicial */
.floating-back-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #6c757d; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra suave */
}

.floating-back-btn:hover {
  background-color: #5a6268; /* Cor de fundo do botão ao passar o mouse */
}
