/* my-applications.component.css */

.my-applications-container {
  position: relative;
  padding: 20px;
}

.application-item {
  background-color: #000; 
  color: white; /* Texto em branco */
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

h2 {
  color: white; /* Texto em branco para o título */
}

.floating-logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.floating-logout-btn:hover {
  background-color: #c82333;
}

.open-jobs-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}