<!-- my-applications.component.html -->

<div class="my-applications-container">
  <button class="floating-logout-btn" (click)="logout()">Logout</button>
  <button class="open-jobs-btn" (click)="navigateToOpenJobs()">Vagas Abertas</button>

  <h2>Minhas Candidaturas</h2>

  <ul>
    <li *ngFor="let application of applications" class="application-item">
      <h3>{{ application.jobTitle }}</h3>
      <p>Status: {{ application.status }}</p>
      <p>Feedback: {{ application.feedback }}</p>
    </li>
  </ul>
</div>
