<!-- my-applications.component.html -->

<div class="applications-container">
  <button class="floating-logout-btn" (click)="logout()">Logout</button>
  <button class="open-jobs-btn" (click)="navigateToOpenJobs()">Vagas Abertas</button>

  <h2>Minhas Candidaturas</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Título do Trabalho</th>
        <th>Status</th>
        <th>Feedback</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let application of applications">
        <td>{{ application.id }}</td>
        <td>{{ application.jobTitle }}</td>
        <td>{{ application.status }}</td>
        <td>{{ application.feedback }}</td>
      </tr>
    </tbody>
  </table>
</div>
