/* candidate-evaluation.component.css */

.filters-container {
  margin-bottom: 20px;
}

.filter-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #0069d9;
}

.candidates-list {
  list-style-type: none;
  padding: 0;
}

.candidates-list-item {
  background-color: #590668; /* Cor de fundo lilás */
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.candidates-list-item h3 {
  color: #ffffff; /* Texto branco */
  margin-bottom: 5px;
}

.candidates-list-item p {
  color: #ffffff; /* Texto branco */
  margin: 5px 0;
}

.floating-logout-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.floating-evaluation-btn {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
