/* login.component.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4a148c; /* Cor de fundo */
}

form {
  background-color: #ffffff; /* Cor de fundo do formulário */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 100%;
  max-width: 400px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333333; /* Cor do título */
  text-align: center; /* Centralizar o título */
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc; /* Cor da borda */
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4a148c; /* Cor de fundo do botão */
  color: #ffffff; /* Cor do texto do botão */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%; /* Largura do botão */
  font-size: 1rem;
}

button:hover {
  background-color: #5c0cbd; /* Cor de fundo do botão ao passar o mouse */
}

.error-message {
  color: #dc3545; /* Cor do texto de mensagem de erro */
  margin-top: 10px;
  text-align: center; /* Centralizar a mensagem de erro */
}

p {
  text-align: center; /* Centralizar os parágrafos */
}

a {
  color: #4a148c; /* Cor do link */
  cursor: pointer;
}

a:hover {
  text-decoration: underline; /* Sublinhado ao passar o mouse */
}
